@import "./colorsVariables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.2px;
}
main {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: #f5f5f5;
}
//Alerts
.topAlert {
  position: absolute;
  top: 0px;
  left: 10vw;
  padding: 0.3rem;
  width: 80vw;
  font-size: 1.1rem;
  background-color: rgba(82, 171, 152, 0.8);
  border: 1px solid $deepblue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: whitesmoke;
  p {
    display: inline-block;
    align-items: center;
    padding-top: 0.2rem;
    margin-left: 1rem;
  }
  button {
    float: right;
    margin-right: 1rem;
    border: none;
    background-color: rgba(82, 171, 152, 0.1);
  }
}
.noDisplay {
  display: none;
}
//Left area with login/register form and list
.menu {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: $deepblue;
  height: 100vh;
  ul {
    align-self: start;
  }
  li {
    padding-inline-start: 0;
    margin: 1rem;
    list-style-type: none;
    button {
      color: white;
      font-size: 1.5rem;
      background-color: inherit;
      border: none;
    }
  }
  :disabled {
    opacity: 0.5;
  }
  .login {
    color: white;
  }
}
.btns {
  display: flex;
  flex-direction: column;
}
.logInBtns {
  margin: 0.5rem;
  padding: 0.3rem;
  color: white;
  background-color: inherit;
  font-size: 1.1rem;
  border: 2px solid $grey;
  border-radius: 2px;
}
.rBtn {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 2.2rem;
  border: none;
  border-radius: 8px;
  background-color: $deepblue;
  color: white;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  &--form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
  }
  h1 {
    margin-bottom: 0.5rem;
    text-align: center;
    color: $deepblue;
  }
  div {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .rInput {
    width: 100%;
    height: 1.5rem;
    border: none;
    outline: 0px;
    padding-inline-start: 2px;
    background-color: inherit;
    color: $deepblue;
    font-size: 1.1rem;
  }
  fieldset {
    border: 1px solid $deepblue;
    margin: 1rem 0;
  }
  legend {
    color: $deepblue;
    margin-left: 1rem;
  }
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    margin: 5px 0 3px 0;
    font-size: 1.05rem;
    color: white;
  }
  input {
    font-size: 0.95rem;
    padding: 0.2rem;
    background-color: inherit;
    color: white;
    border: 1px solid white;
  }
  input[type="submit"] {
    margin-top: 10px;
    padding: 0.2rem 1rem;
    font-size: 1.05rem;
    border: 2px solid white;
    color: white;
    background-color: inherit;
  }
}
//Profile preview
.userWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .userImg {
    margin-bottom: 0.5rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.5);
  }
  .userInfo {
    margin-bottom: 0.3rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
  }
}
//Defining style of Your profile
.profileSet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.formSet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32rem;
  border-top: 2px solid $deepblue;
  border-bottom: 2px solid $deepblue;
  .profilePic {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 180px;
    border-radius: 50%;
    input[type="file"] {
      display: none;
    }
    img,
    .editPic {
      width: 180px;
      height: 180px;
      border: 1px solid black;
      border-radius: 50%;
      background-color: $deepblue;
    }
    .editPic {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      cursor: pointer;
      transform: translate(-50%, -50%);
      background-color: rgba(128, 128, 128, 0.7);
      z-index: 10;
      img {
        display: flex;
        height: 70px;
        border: none;
        background-color: rgba(128, 128, 128, 0.01);
      }
    }
    :hover ~ .editPic {
      display: flex;
    }
  }
  .userDescripton {
    margin: 0.5rem 0 0.3rem 0;
    width: 100%;
    height: 50%;
    resize: none;
  }
  .surName {
    margin-top: 0.6rem;
    input[type="text"] {
      color: $deepblue;
      font-size: 1.3rem;
    }
  }
  input[type="text"],
  textarea {
    color: $deepblue;
    font-size: 1.1rem;
  }
  .profileBtns {
    display: flex;
    width: 100%;
    margin: 0.8rem 0 0.5rem 0;
    input,
    button {
      width: 25%;
    }
    .rBtn:disabled {
      opacity: 0.5;
      background-color: $deepblue;
      border: 2px solid grey;
    }
  }
  .labelDisabled {
    opacity: 0.5;
    input:disabled {
      border: 1px solid grey;
    }
  }
  label {
    display: flex;
    margin: 0.4rem;
    min-width: 300px;
    color: $deepblue;
    justify-content: space-between;
    input {
      color: $deepblue;
    }
  }
  :disabled {
    text-align: center;
    background-color: inherit;
    border: none;
  }
}
.deleteAccount {
  margin-top: 0.4rem;
  padding: 0.2rem;
  color: red;
  border: 1px solid red;
  border-radius: 8px;
  background-color: rgba(255, 67, 67, 0.5);
  font-size: 1rem;
}
//Style of topBar
.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 2.5rem;
  width: 90%;
  border: 1px solid $deepblue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $deepblue;
  text-align: center;
  form {
    position: relative;
    width: 30%;
  }
  input {
    padding: 0.1rem;
    padding-inline-start: 6px;
    width: 100%;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: grey;
    &:focus {
      color: $deepblue;
    }
  }
  .searchedUsers {
    position: absolute;
    list-style: none;
    width: 100%;
    z-index: 10;
    button {
      padding: 0.4rem;
      padding-inline-start: 0.6rem;
      margin-top: 0.2rem;
      width: 100.5%;
      text-align: left;
      font-size: 1.1rem;
      border: 1px solid $deepblue;
      border-radius: 25px;
      background-color: #fff;
    }
  }
}
//Other users profiles
.formSet {
  div {
    display: flex;
    width: 100%;
    flex-direction: row;
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-align: center;
      width: 100%;
      color: $deepblue;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}
//New post box
.postAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  .postLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 3px solid $deepblue;
    border-bottom: 2px solid $deepblue;
    width: 30%;
    border-top: none;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    transition: 0.8s all;
    p {
      margin-bottom: 5px;
      padding-top: 5px;
      color: $deepblue;
      font-family: Arial, Helvetica, sans-serif;
      transition: 0.8s all;
    }
  }
  textarea {
    padding: 3px;
    padding-inline-start: 5px;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    color: grey;
    background-color: rgba(82, 171, 152, 0.4);
    border: none;
    border-top: 1px solid $deepblue;
    resize: none;
    float: right;
    transition: 0.7s all;
    &:focus {
      outline: none;
    }
  }
  a {
    margin-bottom: 0.3rem;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s all;
  }
  .postBtns {
    display: flex;
    width: 60%;
    max-height: 0px;
    transition: 0.4s all;
    .rBtn {
      cursor: pointer;
    }
  }
  label {
    display: flex;
    position: relative;
    .photoAdd {
      width: 100%;
    }
    input[type="file"] {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }
  }
}
.fullView {
  .postLabel {
    width: 60% !important;
    border-bottom: 2px solid $deepblue;
  }
  p {
    margin-top: 12px;
  }
  textarea {
    margin-bottom: 10px;
    width: 90%;
    height: 8rem;
    color: black;
    border: 1px solid $deepblue;
    border-radius: 8px;
  }
  a {
    max-height: 100px;
  }
  .postBtns {
    max-height: 100px;
    margin-bottom: 0.5rem;
    transition: 1.5s all;
  }
}
//Posts
.post,
.postBox {
  display: flex;
  justify-content: center;
  align-items: center;
  .postBox {
    position: relative;
    justify-content: start;
    padding: 1rem;
    width: 70%;
    border: 1px solid black;
    border-radius: 8px;
  }
  .settings {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    button {
      width: 25px;
      margin: 0 0 0 auto;
      cursor: pointer;
      border: none;
      background-color: inherit;
      img {
        width: 25px;
        height: 25px;
      }
    }
    ul {
      margin-right: 1rem;
      max-height: 0px;
      overflow: hidden;
      text-align: center;
      list-style: none;
      transition: 1s all;
      li {
        width: 10rem;
        padding: 0.2rem;
        color: white;
        background-color: $deepblue;
        border: 1px solid white;
        border-bottom: none;
        &:hover {
          cursor: pointer;
          color: $deepblue;
          background-color: #fff;
        }
        &:first-of-type {
          border-top-left-radius: 8px;
        }
        &:last-of-type {
          border-bottom: 1px solid $deepblue;
          border-bottom-right-radius: 8px;
          &:hover {
            border-bottom: 1px solid white;
          }
        }
      }
    }
  }
  .showPostSettings {
    display: flex !important;
  }
  .expandSettings {
    max-height: 300px !important;
  }
}
