@import "./colorsVariables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.2px;
}
main {
  display: grid;
  grid-template-columns: 20% 80%;
}
.menu {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: $deepblue;
  height: 100vh;
  li {
    padding-inline-start: 0;
    margin: 1rem;
    list-style-type: none;
    button {
      color: white;
      font-size: 1.5rem;
      background-color: inherit;
      border: none;
    }
  }
  .login {
    color: white;
  }
}
.btns {
  display: flex;
  flex-direction: column;
  button {
    margin: 0.5rem;
    padding: 0.3rem;
    color: white;
    background-color: inherit;
    font-size: 1.1rem;
    border: 2px solid $grey;
    border-radius: 2px;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  &--form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
  }
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin: 1rem;
  }
  input {
    float: right;
    width: 60%;
    border: none;
    border-bottom: 1px solid grey;
    background-color: rgba(128, 128, 128, 0.1);
  }
  label::before {
    content: "elo";
    position: fixed;
    background-color: white;
    z-index: 100;
  }
  input:last-child {
    margin-left: auto;
    margin-right: auto;
  }
}
